<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.customfieldopt"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <select id="cfId" name="cfId">
            #foreach($field in $fields.entrySet())
            <option #if($cfId == $field.key)selected="selected" #end value="$field.key">$field.value</option>
            #end
        </select>
        <br><font size="1">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.customfieldoptdescr")</font>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.regexopt"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <input type="text" name="regex" value="$regex"/>
        <br><font size="1">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.regexoptdescr")</font>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.msgopt"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <textarea id="msg" name="msg" rows="3" cols="60">$!msg</textarea>
        <br><font size="1">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.msgoptdescr")</font>
    </td>
</tr>